<div class="flex-container" style="height: 100vh; padding: 20px 0">
    <ng-container *ngIf="taskTime.length && employeeProgress.length">
        <ngx-charts-line-chart
            [view]="[1000,360]"
            [results]="taskTime"
            [xAxisLabel]="'Difficulty'"
            [legendTitle]="'Employee Task Time'"
            [yAxisLabel]="'Hours'"
            [legend]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxis]="true"
            [yAxis]="true"
            [gradient]="false"
            [roundDomains]="true"
            [autoScale]="false"
        ></ngx-charts-line-chart>
        <ngx-charts-line-chart
            [view]="[1000,360]"
            [results]="employeeProgress"
            [xAxisLabel]="'Difficulty'"
            [legendTitle]="'Employee Progress'"
            [yAxisLabel]="'Extimated Time in Hours'"
            [legend]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxis]="true"
            [yAxis]="true"
            [gradient]="false"
            [roundDomains]="true"
            [autoScale]="false"
        ></ngx-charts-line-chart>
    </ng-container>
</div>
