<app-navbar [buttons]="buttons"></app-navbar>
<div class="flex-container" style="padding: 20px 0">
    <ng-container *ngIf="tasks?.length; else noDataAvailable">
        <ngx-charts-line-chart
            [view]="[1000,360]"
            [results]="taskTime"
            [xAxisLabel]="'Difficulty'"
            [legendTitle]="'Employee Task Time'"
            [yAxisLabel]="'Hours'"
            [legend]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxis]="true"
            [yAxis]="true"
            [gradient]="false"
            [roundDomains]="true"
            [autoScale]="false"
        ></ngx-charts-line-chart>
        <ngx-charts-line-chart
            [view]="[1000,360]"
            [results]="employeeProgress"
            [xAxisLabel]="'Difficulty'"
            [legendTitle]="'Employee Progress'"
            [yAxisLabel]="'Extimated Time in Hours'"
            [legend]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxis]="true"
            [yAxis]="true"
            [gradient]="false"
            [roundDomains]="true"
            [autoScale]="false"
        ></ngx-charts-line-chart>
    </ng-container>
    <ng-template #noDataAvailable>
        <h2>No data available for {{ employee?.first_name }} {{ employee?.last_name }}</h2>
    </ng-template>
</div>
