<div>
    <ng-container>
        <ngx-charts-line-chart
            [view]="[1000,400]"
            [results]="formatEmployeeTimeResults(tasks)"
            [xAxisLabel]="'Difficulty'"
            [legendTitle]="'Employee Progress'"
            [yAxisLabel]="'Hours'"
            [legend]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxis]="true"
            [yAxis]="true"
            [gradient]="false"
            [roundDomains]="true"
            [autoScale]="false"
        ></ngx-charts-line-chart>
        <ngx-charts-line-chart
            [view]="[1000,400]"
            [results]="formatEmployeeProgressResults(tasks)"
            [xAxisLabel]="'Difficulty'"
            [legendTitle]="'Employee Progress'"
            [yAxisLabel]="'Hours'"
            [legend]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxis]="true"
            [yAxis]="true"
            [gradient]="false"
            [roundDomains]="true"
            [autoScale]="false"
        ></ngx-charts-line-chart>
    </ng-container>
</div>
