<div class="flex-container">
    <div class="graph-card">
        <a routerLink="/employees" routerLinkActive="active" ariaCurrentWhenActive="page">
            <h3>Employee Metrics 1</h3>
            <div class="metrics-img-box">
                <img src="../../assets/src/metrics.png">
            </div>
        </a>
    </div>
    <div class="graph-card">
        <a routerLink="/employees-progress" routerLinkActive="active" ariaCurrentWhenActive="page">
            <h3>Employee Metrics 2</h3>
            <div class="metrics-img-box">
                <img src="../../assets/src/metrics-2.jpg">
            </div>
        </a>
    </div>
    <div class="graph-card">
        <a routerLink="/third-component" routerLinkActive="active" ariaCurrentWhenActive="page">
            <h3>Employee Metrics 3</h3>
            <div class="metrics-img-box">
                <img src="../../assets/src/metrics-3.png">
            </div>
        </a>
    </div>
    <div class="graph-card">
        <a routerLink="/fourth-component" routerLinkActive="active" ariaCurrentWhenActive="page">
           <h3>Employee Metrics 4</h3> 
            <div class="metrics-img-box">
                <img src="../../assets/src/metrics-4.png">
            </div>
        </a>
    </div>
</div>
