<div class="flex-container" style="height: 100%; min-height: 100%;">
    <div class="graph-card">
        <a routerLink="/employees" routerLinkActive="active" ariaCurrentWhenActive="page">
            <h3>Employees</h3>
            <div class="metrics-img-box">
                <img src="../../assets/src/metrics.png">
            </div>
        </a>
    </div>
    <div class="graph-card">
        <a routerLink="/employees-progress" routerLinkActive="active" ariaCurrentWhenActive="page">
            <h3>Employees Progress</h3>
            <div class="metrics-img-box">
                <img src="../../assets/src/metrics-2.jpg">
            </div>
        </a>
    </div>
</div>
